/* Layout */
:root {
  --layout-gutter: min(2rem, 2vmin);
}

main > article {
  display: grid;
  grid-template-columns:
    minmax(var(--layout-gutter), 1fr)
    minmax(auto, 60ch)
    minmax(var(--layout-gutter), 1fr);

  margin-top: calc(var(--hit-area) * 2 + 1.5rem);

  & > * + * {
    margin-top: 2rem;
  }

  & > * {
    grid-column: 2;
  }

  & > .bleed {
    grid-column: 1 / -1;
    max-width: 100ch;
    width: 100%;
    justify-self: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    flex: 1;
  }

  &.lock {
    overflow: hidden;
  }
}
